.js-content {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
  background: #000;
  border: 1px solid #ccc;
  color: white;
  font-size: 1.5em;
  padding: 1em;
}

.page-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
}
